section{padding: auto;}

body{align-items: center;
justify-content: center;
text-align: center;
overflow: scroll;
background-image: url("https://www.ppt-backgrounds.net/images/pics-photos--music-notes-quality-keynote-ppt-templates.jpg");
background-size: 100% 100%;
}

#page {background-color: #d633ff;
height: 100%;
font-size: 20px;
border-radius: 100px;
width: 71.5%;
margin: auto;
padding: auto;
}
hr{width: 9.545454%;
color: #cccc00;
border-style: solid;}

.Identity{text-align: auto;}

#q4, #q1, #q2, #q3, #q5, #q6{font-weight: bold;
font-family: Garamond;}

h3 {font-style: italic;}

#h1 {
text-decoration: underline;
border-color: thistle;
body{background-image: url("https://walnet.org/help/bgtextures/paper.gif");
}
h1{font-family: serif;}

#container {overflow: scroll;
border-radius: 10px;
border-style: solid;
border-color: black;
}

#textarea {overflow-y: scroll;}
